In [196]:
import pandas as pd
from pandas import DataFrame

In [197]:
df = pd.read_csv("data.csv")

In [198]:
df1 = pd.read_csv("activity_data.csv")

In [199]:
df.head()

     _type    _id     _score                                            _source
0   movies     97  20.848059  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1   movies    507  10.478757  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...
2   movies    811   9.831051  {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...
3  tvshows  25222   9.288745  {'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...
4   movies    757   9.140831  {'cast': ['Margaret Rutherford', 'Ron Moody', ...

In [200]:
df1.head()

        media_type  ...                                               hide
0  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...
1  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...
2  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...
3  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...
4  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...

[5 rows x 7 columns]

In [201]:
output = pd.read_csv("output.csv")

In [202]:
output.head()

                                             _source
0  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...
2  {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...
3  {'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...
4  {'cast': ['Margaret Rutherford', 'Ron Moody', ...

In [203]:
df1["watch"] = df1["watched"].apply(lambda x: "nan" if x[18:22]== 'NULL' else "nan")

In [204]:
df1["rate"] = df1["rating"].apply(lambda x: "nan" if x[18:22]== 'NULL' else str(x[23:24]))

In [205]:
df1["listwatch"] = df1["watchlist"].apply(lambda x: "nan" if x[18:22]== 'NULL' else str(x[23:24]))

In [206]:
df1["hiding"] = df1["hide"].apply(lambda x: "nan" if x[18:22]== 'NULL' else "nan")

In [207]:
df1["_id"] = df1["id"].apply(lambda x: int(x[7:10].replace("_"," ")))

In [208]:
new_df = df1[["rate","hiding","listwatch","watch","_id"]]

In [209]:
# new_df

In [210]:
new_df["ind"] = new_df.index

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [211]:
new_df["source1"] = new_df["ind"].apply(lambda x: str(", 'rating' : "+ new_df['rate'][x]+", 'hide' : " +  new_df['hiding'][x] + ", 'watchlist' : "  +  new_df['listwatch'][x] + ", 'watched' : " +  new_df['watch'][x] + "}"))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [212]:
new_df.head()

  rate hiding  ... ind                                            source1
0  nan    nan  ...   0  , 'rating' : nan, 'hide' : nan, 'watchlist' : ...
1    3    nan  ...   1  , 'rating' : 3, 'hide' : nan, 'watchlist' : na...
2  nan    nan  ...   2  , 'rating' : nan, 'hide' : nan, 'watchlist' : ...
3    3    nan  ...   3  , 'rating' : 3, 'hide' : nan, 'watchlist' : 0,...
4  nan    nan  ...   4  , 'rating' : nan, 'hide' : nan, 'watchlist' : ...

[5 rows x 7 columns]

In [213]:
output["_source"][0]

"{'cast': ['Jeff Bridges', 'Bruce Boxleitner', 'David Warner', 'Cindy Morgan', 'Barnard Hughes', 'Dan Shor', 'Peter Jurasik', 'Tony Stephano', 'Craig Chudy', 'Vince Deadrick Jr.', 'Sam Schatz', 'Michael Dudikoff'], 'streaming_modes': ['Subscription'], 'thumbnail_id': {'mob': '97-mob-w342-zwSFEczP7AzqugAHHIX3zHniT0t', 'tv': '97-tv-w780-zwSFEczP7AzqugAHHIX3zHniT0t', 'web': '97-web-w500-zwSFEczP7AzqugAHHIX3zHniT0t'}, 'media_type': 'movies', 'year': '1982', 'genres': ['Science Fiction', 'Action', 'Adventure'], 'ratings': {'internet_movie_database': '6.8/10'}, 'language': 'English', 'id': '97', 'services': ['Jio Cinema'], 'title_name': 'Tron', 'sooper_original': False, 'rating': nan, 'hide': nan, 'watchlist': nan, 'watched': nan}"

In [214]:
df["_source"][0][:-1]

"{'cast': ['Jeff Bridges', 'Bruce Boxleitner', 'David Warner', 'Cindy Morgan', 'Barnard Hughes', 'Dan Shor', 'Peter Jurasik', 'Tony Stephano', 'Craig Chudy', 'Vince Deadrick Jr.', 'Sam Schatz', 'Michael Dudikoff'], 'streaming_modes': ['Subscription'], 'thumbnail_id': {'mob': '97-mob-w342-zwSFEczP7AzqugAHHIX3zHniT0t', 'tv': '97-tv-w780-zwSFEczP7AzqugAHHIX3zHniT0t', 'web': '97-web-w500-zwSFEczP7AzqugAHHIX3zHniT0t'}, 'media_type': 'movies', 'year': '1982', 'genres': ['Science Fiction', 'Action', 'Adventure'], 'ratings': {'internet_movie_database': '6.8/10'}, 'language': 'English', 'id': '97', 'services': ['Jio Cinema'], 'title_name': 'Tron', 'sooper_original': False"

In [215]:
temp =  ", 'rating': nan, 'hide': nan, 'watchlist': nan, 'watched': nan}"

In [216]:
df['sources1'] = df["_source"].apply(lambda x: str(x[:-1]+ new_df.loc[new_df["_id"] == df.loc[df["_source"] == x, "_id"].iloc[0], "source1"])  if df.loc[df["_source"] == x, "_id"].iloc[0] in list(new_df["_id"]) else str(x[:-1]+temp))

In [217]:
type(df['sources1'])

pandas.core.series.Series

In [218]:
df

      _type  ...                                           sources1
0    movies  ...  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1    movies  ...  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...
2    movies  ...  {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...
3   tvshows  ...  {'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...
4    movies  ...  {'cast': ['Margaret Rutherford', 'Ron Moody', ...
5    movies  ...  {'cast': ['Radha Mitchell', 'Sean Bean', 'Jode...
6    movies  ...  {'cast': ['Mike Myers', 'Eddie Murphy', 'Camer...
7   tvshows  ...  {'cast': ['Andy Griffith', 'Ron Howard', 'Fran...
8    movies  ...  {'cast': ['Jane Russell', 'Marilyn Monroe', 'C...
9    movies  ...  4    {'cast': ['Mike Myers', 'Eddie Murphy', '...
10   movies  ...  {'cast': ['Juliette Binoche', 'Alfred Molina',...
11   movies  ...  {'cast': ['Stephen Baldwin', 'Kevin Spacey', '...
12   movies  ...  0    {'cast': ['Tom Cruise', 'Kelly McGillis',...
13   movies  ...  {'cast': ['Richard Dreyfuss', 'Ron Howard', 'P...
14   movies  ...  {'cast': ['Warwick Davis', 'Val Kilmer', 'Joan...
15   movies  ...  {'cast': ['Clint Eastwood', 'Gene Hackman', 'M...
16   movies  ...  {'cast': ['Jennifer Beals', 'Michael Nouri', '...
17   movies  ...  {'cast': ['Brad Pitt', 'Robert De Niro', 'Kevi...
18   movies  ...  {'cast': ['Zach Braff', 'Natalie Portman', 'Ia...
19   movies  ...  {'cast': ['Angelina Jolie', 'Brad Pitt', 'Adam...
20   movies  ...  {'cast': ['Tobin Bell', 'Costas Mandylor', 'Sc...
21   movies  ...  {'cast': ['Nicole Kidman', 'Matt Dillon', 'Joa...
22   movies  ...  {'cast': ['Roger Moore', 'Christopher Walken',...
23   movies  ...  1    {'cast': ['Kevin Costner', 'Tommy Lee Jon...
24   movies  ...  {'cast': ['Arnold Schwarzenegger', 'Linda Hami...
25  tvshows  ...  {'cast': ['Dave Annable', 'Calista Flockhart',...
26   movies  ...  {'cast': ['Bruce Campbell', 'Embeth Davidtz', ...
27   movies  ...  2    {'cast': ['Sharon Stone', 'Jeanne Tripple...
28   movies  ...  {'cast': ['Richard Roundtree', 'Moses Gunn', '...
29   movies  ...  {'cast': ['Julia Roberts', 'Albert Finney', 'A...
30   movies  ...  {'cast': ['Charlie Sheen', 'Willem Dafoe', 'Jo...
31   movies  ...  {'cast': ['Marlon Brando', 'Al Pacino', 'James...
32   movies  ...  {'cast': ['Macaulay Culkin', 'Joe Pesci', 'Dan...
33   movies  ...  {'cast': ['Tim Robbins', 'Morgan Freeman', 'Bo...
34   movies  ...  3    {'cast': ['Harrison Ford', 'Kate Capshaw'...
35   movies  ...  {'cast': ['Robert De Niro', 'James Woods', 'El...
36   movies  ...  {'cast': ['Jodie Foster', 'Anthony Hopkins', '...
37   movies  ...  {'cast': ['Al Pacino', 'Diane Keaton', 'Talia ...
38   movies  ...  {'cast': ['Bill Murray', 'Dan Aykroyd', 'Sigou...
39   movies  ...  {'cast': ['Tobey Maguire', 'Willem Dafoe', 'Ki...
40   movies  ...  {'cast': ['Elijah Wood', 'Ian McKellen', 'Vigg...
41   movies  ...  {'cast': ['Ben Affleck', 'Jon Voight', 'Tom Si...
42   movies  ...  {'cast': ['Mark Hamill', 'Harrison Ford', 'Car...
43   movies  ...  {'cast': ['Bruce Willis', 'Milla Jovovich', 'G...
44   movies  ...  {'cast': ['Samuel L. Jackson', 'Vanessa Willia...
45   movies  ...  {'cast': ['Leonardo DiCaprio', 'Kate Winslet',...
46   movies  ...  {'cast': ['Will Smith', 'Bill Pullman', 'Jeff ...

[47 rows x 5 columns]

In [219]:
out1 = list(df["sources1"])

In [220]:
type(out1)

list

In [221]:
out = DataFrame(out1,columns=['_source'])

In [223]:
out.to_csv("MyOutput.csv")